<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.mylistdivderecycler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.RecyclerNoLineActivity" />
        <activity
            android:name=".ui.RecyclerWithLineActivity"
            android:theme="@style/listdiverline" />
        <activity android:name=".ui.HtmlActivity"/>
        <activity android:name=".ui.TabHostActivity">
        </activity>
        <activity android:name=".ui.SnapHelperActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>